.heading.t-center{
    text-align: center;
    margin-bottom: 20px;
}
.create_application{
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}
.create_application .t-center{text-align: center;}
.create_application label{
    position: inherit;
}
.create_application .select-wrapper{
    margin-bottom: 35px;
}
.create_application .text-start{
    opacity: 0.5;
}
.create_application .delivery-btns span{
    padding: 3px 5px;
    border-radius: 3px;
}
.create_application .form-btn-grey{
    width: 100%;
    background: #ddd;
    color: rgba(0,0,0,0.87);
    text-align: center;
    height: auto;
}
.create_application .form-btn-grey span{
    width: 100%;
    display: block;
}
.create_application .form-btn-access.submit{
    margin: 0 auto 15px;
    display: block;
}
#modal_goods dl{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
#modal_goods dl.disabled{opacity: 0.4;}
#modal_goods dl span.name, #modal_goods dl span.kg{
    display: block;
    color: #9e9e9e;
}
#modal_goods dl span.name{
    color: rgba(255, 255, 255, .8);
}
.row-goods{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.table-goods{
    border-radius: 5px;
    width: 100%;
    margin-top: 20px;
}

.table-goods span {cursor:pointer; }
.table-goods .number{
    display: flex;
    justify-content: flex-start;
    width: 75%;
    align-items: center;
}
.table-goods th:first-child, .table-goods td:first-child{padding-left: 30px;}
.table-goods th:nth-child(2){
    text-align: center;
}
.table-goods .th-del{
    border-left: 1px solid rgba(0,0,0,0.12);
    padding: 15px 0;
    text-align: center;
}
.table-goods .minus, .table-goods .plus{
    width:30px;
    height:30px;
    background:#f2f2f2;
    border-radius:4px;
    padding:8px 5px 8px 5px;
    border:1px solid #ddd;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    line-height: 15px;
		}
.table-goods input{
    width: 70% !important ;
    max-width: 70px;
    text-align: center;
}
.material-icons.del{cursor: pointer;}
canvas {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
#canvas-holder{
    position: relative;
}
h5.proc{
    position: absolute;
    top: 45%;
    left: 45%;
    margin: 0;
}
p.wt{
    font-size: 12px;
    text-align: center;
}
